@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Heebo:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

.logo {
    text-decoration: none;
    font-family: Heebo;
    font-size: 32px;
    font-weight: bold;
    color: #040062;
    margin: 28px 0; 
    text-shadow: 0 2px 5px #6c6c6c; 
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__div {
    display: flex;
    align-items: center;
    width: 1296px;
}

.header__nav {
    margin: 28px 0 28px 48px;  
}

.header__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
}

.header__links {
    color: #040062;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
    border-spacing: 2px;
}
/* header */

/* button */
button {
    background-color: #0013FF;
    width: 164px;
    height: 40px; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Отодвигает этот элемент вправо */
    margin-left: auto;
}

button:hover {
    background-color: #0056b3; 
}

button:active {
    background-color: #9b9bb5; 
}
/* button */


/* div */
/* images */
.main  {
    padding-top: 0;
    padding-bottom: 180px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main__img {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 120px;
}

.img {
    max-width: 1296px;
}

.main__div_img {
    max-width: 234px;
    max-height: 538px;
    margin: 70px auto;
    border-radius: 37px;
}

.main__div_rectangle {
    display: flex;
    background-color: #FEF1EF;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.main__div_rectangle--reverse {
    flex-direction: row-reverse;
    background-color: #C7E3E9;
}

/* images */

.main__div {
    display: flex;
    align-items: center;
    display: flex;
    max-width: 1296px;
}

.main__div--reverse {
    flex-direction: row-reverse;
}

.left__div_text, .right__div_text {
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* div */

p {
    margin: 32px 100px;
}

.title {
    font-family: Abril Fatface; 
    font-size: 48px;
    color: #040062;
}

.text {
    font-family: Ubuntu;
    font-size: 18px;
    color: #6D758D;
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}