@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Heebo:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

.logo {
    text-decoration: none;
    font-family: Heebo;
    font-size: 32px;
    font-weight: bold;
    color: #040062;
    margin: 28px 0; 
    text-shadow: 0 2px 5px #6c6c6c; 
}



/* header */
.header {
    width: calc(100% - 60px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  auto;
    border-bottom: #DCE0E9 1px solid;
    max-width: 1296px;
}

.header__nav {
    margin: 28px 0 28px 48px;  
}

.header__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
}

.header__links {
    color: #040062;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
    border-spacing: 2px;
}



/* button */
.acess-button {
    background-color: #0013FF;
    width: 164px;
    height: 40px; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Отодвигает этот элемент вправо */
    margin-left: auto;
}

button:hover {
    background-color: #0056b3; 
}

button:active {
    background-color: #9b9bb5; 
}



/* first */
.first {
    width: calc(100% - 60px * 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1296px;
    margin: 0 auto 120px;
    height: 647px;
    background-color: #C7E3E9;
    padding-top: 80px;
    position: relative;
}

.first__title {
    font-family: Abril Fatface;
    font-weight: 400;
    color: #040062;
}

.first__title-line-left,
.first__title-line-right {
    width: 196px;
    height: 2px;
    background-color: #B3CCDB;
}

.first__title-line-left {
    position: absolute;
    left: 395px;
    bottom: 119px;
}

.first__title-line-right {
    position: absolute;
    right: 395px;
    bottom: 119px;
}

.first__title--small {
    font-size: 60px;
}

.first__title--medium {
    font-size: 80px;
}

.first__title--large {
    font-size: 110px;
}

.first__title-img {
    margin-top: 80px;
}

.first__left-img {
    position: absolute;
    left: 30px;
    bottom: 0;
}

.first__right-img {
    position: absolute;
    right: 30px;
    bottom: 0;
}



/* main */
.main  {
    width: calc(100% - 60px * 2);
    display: flex;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1296px;
}

.main--reverse {
    flex-direction: row-reverse;
}

.main__img {
    max-width: 234px;
    max-height: 538px;
    margin: 70px auto;
    border-radius: 37px;
}

.main__rectangle {
    display: flex;
    background-color: #FEF1EF;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.main__rectangle--reverse {
    flex-direction: row-reverse;
    background-color: #C7E3E9;
}


/* text */
.main__section-text {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.main__title {
    font-family: Abril Fatface; 
    font-size: 48px;
    color: #040062;
    margin: 32px 100px;
}

.main__text {
    font-family: Ubuntu;
    font-size: 18px;
    color: #6D758D;
    margin: 32px 100px;
}



/* footer */
.footer {
    width: calc(100% - 60px * 2);
    display: flex;
    justify-content: center;
    border-top: #DCE0E9 1px solid;
    height: 290px;
    padding-top: 80px;
    margin-top: 100px;
    max-width: 1296px;
    margin: 0 auto;
}

.footer__nav {
    display: flex;
    gap: 120px;
    margin-left: 180px; 
}

.footer__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 32px;
    flex-direction: column;
}

.footer__list--reverse {
    flex-direction: row-reverse;
    gap: 32px;
}

.footer__links {
    color: #040062;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
    border-spacing: 2px;
    color: #6D758D;
}

.footer__links--title {
    font-size: 25px;
    margin-top: 20px;
    color: #040062;
}

.footer__social {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.footer__social p {
    margin: 10px 0 0 0;
}

.footer__social-list-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.footer__social-link {
    color: #040062;
    text-decoration: none;
    width: 16px;
    height: 16px;
}