@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Heebo:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

.logo {
    text-decoration: none;
    font-family: Heebo;
    font-size: 32px;
    font-weight: bold;
    color: #040062;
    margin: 28px 0; 
    text-shadow: 0 2px 5px #6c6c6c; 
}




/* header */
.header {
    width: calc(100% - 60px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0 auto;
    border-bottom: #DCE0E9 1px solid;
    max-width: 1296px;
}

.header__nav {
    margin: 28px 0 28px 48px;  
}

.header__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
}

.header__links {
    color: #040062;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
    border-spacing: 2px;
}


/* button */
.acess-button {
    background-color: #0013FF;
    width: 164px;
    height: 40px; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Отодвигает этот элемент вправо */
    margin-left: auto;
}

button:hover {
    background-color: #0056b3; 
}

button:active {
    background-color: #9b9bb5; 
}

@media screen and (max-width: 820px) {
    .header {
        align-items: center;
        width: calc(100% - 30px * 2);
    }

    .header__nav {
        margin: 10px 0 10px 28px;  
    }
    .header__list {
        align-items: center;
        gap: 16px;
    }
}

@media screen and (max-width: 660px) {
    .header {
        align-items: center;
        flex-direction: column;
        width: calc(100% - 15px * 2);
        padding-bottom: 10px;
    }

    .header__nav {
        margin: 10px 0 10px 18px;  
    }
    .header__list {
        flex-wrap: nowrap;
        align-items: center;
        gap: 16px;
    }
    .acess-button{
        margin: auto;
    }
}





/* first */
.first {
    width: calc(100% - 60px * 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1296px;
    margin: 0 auto 120px;
    height: 647px;
    background-color: #C7E3E9;
    padding-top: 80px;
    position: relative;
}

.first__title {
    font-family: Abril Fatface;
    font-weight: 400;
    color: #040062;
}

.first__title-line-left,
.first__title-line-right {
    width: 196px;
    height: 2px;
    background-color: #B3CCDB;
}

.first__title-line-left {
    position: absolute;
    left: 395px;
    bottom: 119px;
}

.first__title-line-right {
    position: absolute;
    right: 395px;
    bottom: 119px;
}

.first__title--small {
    font-size: 60px;
}

.first__title--medium {
    font-size: 80px;
}

.first__title--large {
    font-size: 110px;
}

.first__title-img {
    margin-top: 80px;
}

.first__left-img {
    position: absolute;
    left: 30px;
    bottom: 0;
}

.first__right-img {
    position: absolute;
    right: 30px;
    bottom: 0;
}

@media screen and (max-width: 1360px) {
    .first__title-line-left,
    .first__title-line-right {
        width: 156px;
    }
}

@media screen and (max-width: 1286px) {
    .first__title-line-left,
    .first__title-line-right {
        width: 120px;
    }
}

@media screen and (max-width: 1200px) {
    .first__title-line-left,
    .first__title-line-right {
        width: 92px;
    }
}

@media screen and (max-width: 1150px) {
    .first__left-img,
    .first__right-img {
        display: none;
    }
    .first__title-line-left {
    position: absolute;
    left: 234px;
    bottom: 119px;
    }
    .first__title-line-right {
    position: absolute;
    right: 234px;
    bottom: 119px;
    }
    .first__title-line-left,
    .first__title-line-right {
        width: 196px;
    }
}

@media screen and (max-width: 1024px) {
    .first {
        margin-bottom: 80px;
    }
    .first__title-line-left {
    position: absolute;
    left: 196px;
    bottom: 119px;
    }
    .first__title-line-right {
    position: absolute;
    right: 196px;
    bottom: 119px;
    }
}

@media screen and (max-width: 960px) {
    .first__title-line-left {
    position: absolute;
    left: 128px;
    bottom: 119px;
    }
    .first__title-line-right {
    position: absolute;
    right: 128px;
    bottom: 119px;
    }
}

@media screen and (max-width: 820px) {
    .first {
        height: 547px;
        margin-bottom: 56px;
        width: calc(100% - 30px * 2);
    }
    .first__title-line-left {
    position: absolute;
    left: 84px;
    bottom: 119px;
    }
    .first__title-line-right {
    position: absolute;
    right: 84px;
    bottom: 119px;
    }
    .first__title--small {
    font-size: 40px;
    }
    .first__title--medium {
    font-size: 60px;
    }
    .first__title--large {
    font-size: 80px;
    }
}

@media screen and (max-width: 768px) {
    .first {
        height: 497px;
        margin-bottom: 48px;
    }
    .first__title-line-left {
    position: absolute;
    left: 64px;
    bottom: 119px;
    width: 120px;
    }
    .first__title-line-right {
    position: absolute;
    right: 64px;
    bottom: 119px;
    width: 120px;
    }
    .first__title-img {
    margin-top: 30px;
    }
}
@media screen and (max-width: 660px) {
    .first {
    width: calc(100% - 15px * 2);
    }
}

@media screen and (max-width: 590px) {
    .first {
        height: 447px;
        margin-bottom: 32px;
    }
    .first__title-line-left {
    position: absolute;
    left: 40px;
    bottom: 119px;
    width: 92px;
    }
    .first__title-line-right {
    position: absolute;
    right: 40px;
    bottom: 119px;
    width: 92px;
    }
    .first__title--small {
    font-size: 32px;
    }
    .first__title--medium {
    font-size: 48px;
    }
    .first__title--large {
    font-size: 72px;
    }
    .first__title-img {
    margin-top: 16px;
    width: 34px;
    }
}

@media screen and (max-width:490px) {
    .first {
        height: 397px;
        margin-bottom: 28px;
    }
    .first__title-line-left {
    position: absolute;
    left: 40px;
    bottom: 119px;
    width: 92px;
    }
    .first__title-line-right {
    position: absolute;
    right: 40px;
    bottom: 119px;
    width: 92px;
    }
    .first__title-img {
    margin-top: 36px;
    width: 34px;
    }
    .first__title--small {
    font-size: 24px;
    }
    .first__title--medium {
    font-size: 32px;
    }
    .first__title--large {
    font-size: 48px;
    }
}




/* main */
.main  {
    width: calc(100% - 60px * 2);
    display: flex;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1296px;
}

.main--reverse {
    flex-direction: row-reverse;
}

.main__img {
    max-width: 234px;
    max-height: 538px;
    margin: 70px auto;
    border-radius: 37px;
}

.main__rectangle {
    display: flex;
    background-color: #FEF1EF;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.main__rectangle--reverse {
    flex-direction: row-reverse;
    background-color: #C7E3E9;
}


/* text */
.main__section-text {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.main__title {
    font-family: Abril Fatface; 
    font-size: 48px;
    color: #040062;
    margin: 32px 100px;
}

.main__text {
    font-family: Ubuntu;
    font-size: 18px;
    color: #6D758D;
    margin: 32px 100px;
}

@media screen and (max-width: 930px) {
    .main__title {
        margin: 16px 80px;
        font-size: 40px;
    }
    .main__text {
        margin: 16px 80px;
        font-size: 16px;
    }
    .main__img {
    max-width: 200px;
    max-height: 500px;
    margin: 50px auto;
    border-radius: 37px;
    }
}

@media screen and (max-width:820px) {
    .main {
    flex-direction: column-reverse;
    gap: 40px;
    width: calc(100% - 30px * 2);
    }
    .main__rectangle {
    width: 100%;
    }
    .main__section-text {
    width: 100%;
    }
    .main__title {
        margin: 16px auto;
    }
    .main__text {
        margin: 16px auto;
    }
}

@media screen and (max-width:660px) {
    .main {
        gap: 30px;
        width: calc(100% - 15px * 2);
    }
}





/* footer */
.footer {
    width: calc(100% - 60px * 2);
    display: flex;
    justify-content: center;
    border-top: #DCE0E9 1px solid;
    height: 290px;
    padding-top: 80px;
    margin-top: 100px;
    max-width: 1296px;
    margin: 0 auto;
}

.footer__nav {
    display: flex;
    gap: 120px;
    margin-left: 180px; 
}

.footer__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 32px;
    flex-direction: column;
}

.footer__list--reverse {
    flex-direction: row-reverse;
    gap: 32px;
}

.footer__links {
    color: #040062;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
    border-spacing: 2px;
    color: #6D758D;
}

.footer__links--title {
    font-size: 25px;
    margin-top: 20px;
    color: #040062;
}

.footer__social {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.footer__social p {
    margin: 10px 0 0 0;
}

.footer__social-list-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.footer__social-link {
    color: #040062;
    text-decoration: none;
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 1220px) {
    .footer__nav {
        gap: 80px;
        margin-left: 120px; 
    }
}

@media screen and (max-width: 986px) {
    .footer__nav {
        gap: 60px;
        margin-left: 80px; 
    }
}

@media screen and (max-width: 902px) {
    .footer__nav {
        gap: 40px;
        margin-left: 40px; 
    }
}

@media screen and (max-width: 820px) {
    .footer {
        flex-direction: column;
        height: auto;
        padding-bottom: 40px;
        width: calc(100% - 30px * 2);
        gap: 40px;
    }
    .footer__nav {
        margin-left: 0; 
        gap: 60px;
    }
    .footer__social {
        flex-direction: row;
        align-items: center;
        margin-left: 0;
        gap: 20px;
    }
}

@media screen and (max-width: 720px) {
    .footer__nav {
        gap: 20px;
    }
    .footer__social-list-links {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 660px) {
    .footer {
        width: calc(100% - 15px * 2);
        gap: 30px;
    }
}