* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display: flex;
    align-items: center;
}

.logo-nav {
    margin: 28px 0 28px 48px;  
}

.logo-navigation {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: #040062;
    margin: 28px 0 28px 48px;  
}

.header-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
}

.header-links {
    color: #040062;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
    border-spacing: 2px;
}

/* так как мы не проходили элемент кнопки, я спросил помощи у ИИ */
button {
    background-color: #0013FF; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Отодвигает этот элемент вправо */
    margin-left: auto; 
    margin-right: 48px;
}

button:hover {
    background-color: #0056b3; 
}

.img {
    display: block;
    margin: 0 48px;
    width: 100%;
    height: auto;
    /* отступ слева */
    padding-right: 96px;
    margin-bottom: 120px;
}

.first-div, .second-div {
    display: flex;
    margin: 0 48px;
    justify-content: center;
    align-items: center;
}

.img-div {
    margin: 70px;
}

.img-div-1, .img-div-1-1 {
    display: flex;
    background-color: #FEF1EF;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.img-div-2 {
    align-items: center;
    justify-content: center;
    width: 50%;
}

p {
    margin: 32px 100px;
}

.title-p {
    font-family: 'Abril Fatface', bold; 
    font-size: 48px;
    color: #040062;
}

.text-p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #6D758D;
}

.second-div {
    flex-direction: row-reverse;
}

.img-div-1-1 {
    background-color: #C7E3E9;
}